<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type='text/css' href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type='text/css' href="{% static 'css/bootstrap.min.css' %}">
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
    <!-- <link href ="{% static 'js/bootstrap.min.js' %}"> -->

	
</head>
  
<body>  


<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2 ">
	<div class="container ">
		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
				</li> 
			{% if user.is_authenticated %}
				<li>
					<a class="nav-link " href="{% url 'company_list_okr' %}">Cele firmowe</a>
				</li>
				<li>
					<a class="nav-link" href="{% url 'team_list_okr' %}">Cele Zespołowe</a>
				</li>
				<li>
					<a class="nav-link" href="{% url 'employee_list_okr' %}">Cele indywidualne</a>
				</li>
			{% else %}
			</ul>
		{% endif %}
		</ul>
		
<form class="form-inline my-2 my-lg-0">
	{% if user.is_authenticated %}
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Firma
			</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="{% url 'team_list' %}">Zespoły</a>
					<a class="dropdown-item" href="{% url 'employee_list' %}">Pracownicy</a>
				</div>
		</div>
				
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle ml-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Dodaj
			</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				{% if user.employee.role == 1	or	user.employee.role == 2	 %}
					<a class="dropdown-item" href="{% url 'company_add_okr' %}">Cel firmowy</a>
					<a class="dropdown-item" href="{% url 'team_add_okr' %}">Cel zespołowy</a>
					<a class="dropdown-item" href="{% url 'employee_add_okr' %}">Cel indywidualny</a>
						<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'add_team' %}">Zespół</a>
					<a class="dropdown-item" href="{% url 'register' %}">Pracownika</a>	
				{% elif user.employee.role == 3 %}	
					<a class="dropdown-item" href="{% url 'team_add_okr' %}">Cel zespołowy</a>
					<a class="dropdown-item" href="{% url 'employee_add_okr' %}">Cel indywidualny</a>
				{% endif %}
				</div>
		</div>
		
	
		
				
				
		<a href="{% url 'password_change' %}" class="btn btn-outline-secondary ml-2">Zmiana hasła</a>
		<a href="{% url 'logout' %}" class="btn btn-primary ml-2">Wyloguj</a>
	{% else %}
		<a href="{% url 'login' %}" class="btn btn-primary ml-2">Zaloguj</a>
	{% endif %}
</form>

		</div>
	</div>
</nav> 
  

<div class="container-fluid  ">
	{% block content %}
	{% endblock %}
</div>


</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script>
	$(document).ready(function()
	{
		{% block jquery %}
		
		
		
		{% endblock %}
	});
</script>
  
  </body>
</html>



