{% extends 'base.html' %}
{% block content %}
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col" style="width: 20%">Zespół</th>
			<th scope="col" style="width: 20%">Stanowisko</th>
			<th scope="col" style="width: 20%">Nazwisko</th>
			<th scope="col" style="width: 20%">Imię</th>
			<th	scope="col" style="width: 20%">ZARZĄDZAJ</th>
		</tr>
	</thead>
	<tbody>
		{% for employee in employees %}
			<tr>
				<td><h6></h6></td>
				<td><h6>{{ employee.team_id }}</h6></td>
				<td><h6>{{ employee.get_role_display }}</h6></td>
				<td><h6>{{ employee.user.last_name }}</h6></td>
				<td><h6>{{ employee.user.first_name }}</h6></td>
				<td>
				{% if user.employee.role == 1	or	user.employee.role == 2	 %}
					<a href="{% url 'employee_update' id=employee.id %}" class="btn btn-outline-primary btn-sm">EDYTUJ</a>
					<a href="{% url 'employee_delete' id=employee.id %}" class="btn btn-outline-danger btn-sm ml-1">USUŃ</a>
				{% else %}
					<h6>brak uprawnień</h6>
				{% endif %}
				</td>
			</tr>
		{% endfor %}					
	</tbody>
</table>



{% endblock %}