{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-5">
	<div class="card">
		<div class="card-body">
			<h1>Dodaj cel</h1>
			<form method='POST'>
				{% csrf_token %}
				{{ form|crispy }}	
				{{ employee_kr_form|crispy}}
					{% if request.GET.next %}		
						<input type="hidden" name="next" value="{{request.GET.next}}"> 
					{% endif %}
				<button type="submit" class="btn btn-primary">Dodaj</button>
			</form>
		</div>
	</div>	
	</div>
</div>
{% endblock %}